
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
    <br>
  <% end %>
<% end %>

<br>
<%= form_for @user do |f| %>
  <br>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :picture_url %>
  <br>
  <%= f.text_field :picture %>
  <br>
  <br>
  <%= f.submit "Create User" %>
<% end %>
