<% if @new_user.errors.any? %>
  <% @new_user.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
    <br>
  <% end %>
<% end %>
  <h1 class="center-headings">Register</h1>
  <%= form_for @new_user do |f| %>
    <br>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.label :picture_url %>
    <br>
    <%= f.file_field :picture %>
    <br>
    <br>
    <%= f.submit "Create User" %>
  <% end %>
