<h1>Hi, <%= @user.name.titleize %>!</h1>

<img src = "<%= @user.picture %> " alt="">
<br>
<% @user.events.each do |event| %>
<%= link_to event.event_name, event %>
<% end %>
<br>
<%= link_to "Create An Event", create_new_event_path %>
<br>
<br>
<%= link_to "Add Profile Picture", edit_user_path %>



  <%= button_to  "Log Out", logout_path, method: 'delete' %>
