
<div class="white_background">

  <div class="Profile">
    <h1>Hi, <%= @user.name.titleize %>!</h1>

    <img src="<%= @user.picture %>" alt="">


    <%= button_to "Add Profile Picture", edit_user_path %>
    <% @user.events.each do |event| %>
      <ul id="eventcontainer">
        <li class="eventblock"> <%= event.category.name %> </li>
        <li class="eventblock"> <%= event.event_name %> </li>
        <li class="eventblock"> <%= event.content %> </li>
        <li class="eventblock"> <%= event.start_datetime.ctime %> </li>
        <li class="eventblock"> <%= event.end_datetime.ctime %> </li>
        <li class="eventblock"> <%= event.picture %> </li>
        <li class="eventblock"> <%= event.address %> </li>
      </ul>
    <% end %>

  </div>
</div>
