
<div class="white_background">

  <div class="Profile">
    <h1>Hi, <%= @user.name.titleize %>!</h1>

    <img src="<%= @user.picture %>" alt="">


      <%= link_to "Create An Event", create_new_event_path %>
      <br>


    <%= button_to "Add Profile Picture", edit_user_path %>
    <% @user.events.each do |event| %>
      <%= link_to event.event_name, event %>
    <% end %>
    <br>
      <%= button_to "Create An Event", new_event_path %>
  </div>
</div>
