

<div class="center">
  <h1 class="center-headings">Events Feed</h1>
  <%= form_tag '/categories', method: :get do %>
    <%= collection_select :event, :category_id, @categories, :id, :name%>
    <%= submit_tag "Search by category" %>
  <% end %>


Today is <%= @date %>


</div>


<% @events.each do |event| %>
  <h5> Category: <%= event.category.name %> </h5> <br>
  <h3> Event: <%= event.event_name %> </h3> <br>
  <p> At: <%= event.address %> <br>
  From: <%= event.start_datetime.strftime('%A %B %e %l:%M %p') %> <br>
  To: <%= event.end_datetime.strftime('%A %B %e %l:%M %p') %> <br>
  Details: <%= event.content %> <br> <br> <br> <br> </p>


  <%= button_to '💛', new_like_path(event) , method: :post%>
  <%= event.likes.count %>
  <%= event.likes.count == 1||0 ? 'Like' : 'Likes' %>
  <% liked = event.likes.find {|like| like.user_id == session[:user_id]} %>
<% end %>
