<!DOCTYPE html>
<html>
  <head>
    <title>Lituation</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <header>
  </header>


  <body>

    <ul id="nav">
        <li><%= link_to image_tag("goodfire.png", :alt => "fire", height: 35, width: 35), categories_path(@events)%></li>
        <li><%= link_to image_tag("graphic-design.png", :alt => "create", height: 35, width: 35), categories_path(@events)%></li>
        <li><%= link_to image_tag("student.png", :alt => "profile", height: 35, width: 35), '/users/:id' %></li>
        <div id="login">
          <% if logged_in? %>
          <li>
            <%= link_to "Log out", '/logout' %>
          </li>
          <li class="logged">
            Logged in as: <%= @user.name %>
          </li>
            <% else %>
          <li>
        <%= link_to "Register", '/signup' %>
          </li>
          <li>
        <%= link_to "Log in", '/login' %>
          </li>
      <% end %>
    </ul>
      <% if @errors %>
      <ul>
        <% @errors.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
      <% end %>
        </div>
      </ul>
      <div class="top-margin">

      </div>
    <%= yield %>
  </body>
</html>
